body {
  background-color: rgb(27, 176, 226);
}

h1 {
  color: rgb(30, 197, 226);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(246, 247, 248);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(250, 249, 249);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(8, 8, 8);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }